<% include ./partials/header  %>

    <div class="col col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Solved</th>
                </tr>
            </thead>
            <tbody>
            <% tickets.forEach(function(ticket){ %>
                <tr>
                    <th scope="row"><%= ticket.title %></th>
                    <td><%= ticket.created %></td>
                    <td><%= ticket.solved %></td>
                </tr>
                <% });  %>
            </tbody>
        </table>
    </div>
   
    <% include ./partials/footer  %>